@import './abstracts/mixins';

@import './base/fonts';
@import './base/colors';

@import './layout/index';
@import './layout/portfolio';
@import './layout/blog';

@import './components/header';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica';
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.error {
  font-weight: 700;
  color: red;
}

.base-page {
  padding: 150px 0 100px;
  color: black;
  background-color: $base-page-white;
  min-height: 100vh;

  .page-header {
    .page-header-title {
      font-weight: 700;
      color: black;
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
